*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  position: relative;
  background: #f9f6f6;
  height: 100vh;
  width: 100%;

}
.conteudo{
  width: 100%;
  flex-wrap: wrap;
  margin-top: -40px;
  display: flex;
}
nav{
  position: absolute;
  top: 5%;
  height: 100px;
  width: 60%;
  right: 0;
  
}
nav ul {
  display: flex;
  justify-content: space-around;
}

footer{
  background: #000;
  text-align: center;
  padding: 20px;
  color: #f9f6f6;
  
}
footer a {
  color: yellow;
}